## Documentation
mkdocs-material

## Python
pydantic
typing
python-dotenv==1.0.1

## Jupyter Notebooks 
ipywidgets
nbconvert

## Open AI usage
openai

## NLP Tests
redlines

## Hugging Face usage
huggingface-hub

## Lamini
lamini